.column {
  width: 72px;
  min-height: 1px;
  float: left;
}

.tile {
  height: 64px;
  width: 64px;
  margin: 2px;
  border: 2px solid white;
}

.tile.tileType1 {
  background-color: red;
}

.tile.tileType2 {
  background-color: green;
}

.tile.tileType3 {
  background-color: blue;
}

.tile.tileType4 {
  background-color: yellow;
}

.tile.tileType5 {
  background-color: purple;
}

.tile.tileType6 {
  background-color: orange;
}

.tile.tileType7 {
  background-color: aqua;
}

.tile.selected {
  border-color: black;
}

.offset1 { margin-top: 66px; }
.offset2 { margin-top: 132px; }
.offset3 { margin-top: 198px; }
.offset4 { margin-top: 264px; }
.offset5 { margin-top: 330px; }
.offset6 { margin-top: 396px; }
.offset7 { margin-top: 462px; }
.offset8 { margin-top: 528px; }
.offset9 { margin-top: 594px; }
