extends layout

block content
  .pull-right Score: <strong data-bind='text: score'>0</strong>
  .pull-left
    button.btn.btn-primary(data-bind='click: newGame') Start a new game
    |&nbsp;
    button.btn.btn-default(data-bind='click: getHint') Get a hint!
  #game-grid(data-bind='with: grid')
    div(data-bind='foreach: columns')
      .column(data-bind='foreach: tilesReversed, css: offsetClass')
        .tile(data-bind='css: tileClass, click: $root.grid.select')

block script
  script(type='text/javascript').
    var game = new Game(8, 7)

    $(function() {
      ko.applyBindings(game)
    })
